header.header-fixed {
	color: #000;
	background-color: #ffffff;
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 7px;
	box-sizing: border-box;
	transition: all 500ms ease-in-out;
	align-items: center;
	display: flex;
	justify-content: space-between;
	@media (max-width: 767px) {
		padding: 10px 0 263px 0;
	}
	.menu-nav {
		width: 100%;
		display: flex;
		justify-content: space-between;
		&.show {
			@media (max-width: 767px) {
				.menu {
					transform: translateX(0);
				}
			}
		}
		.header-logo {
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				opacity: 0.5;
			}
		}
		.menu {
			ul {
				display: flex;
				list-style: none;
				font-size: 16px;
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				@media (max-width: 767px) {
					display: inline-block;
					padding: 15px;
					margin: 0;
					font-size: 25px;
				}
				.items {
					padding: 10px 0 10px 0;
					a {
						color: $fnt-color-secondary;
						font-family: HKGrotesk-SemiBold;
						font-size: 10px;
						line-height: 1;
						letter-spacing: 2px;
						text-decoration: none;
						padding: 10px 0 3px;
						margin: 0 18px;
						&.active {
							color: $fnt-color-main;
							text-decoration: none;
						}
						&:hover {
							color: #000000;
						}
					}
				}
			}
		}
		@media (max-width: 767px) {
			.menu {
				position: fixed;
				width: 100%;
				height: 100%;
				z-index: 100;
				background-color: rgba(0, 0, 0, 0.95);
				top: 0;
				left: 0;
				transform: translateX(100%);
				flex-direction: column;
				transition: transform 0.2s ease-in-out;
			}
		}
		.toggle {
			position: absolute;
			top: 20px;
			right: 20px;
			display: none;
			flex-direction: column;
			justify-content: space-between;
			width: 50px;
			height: 50px;
			background-color: rgba(255, 255, 255, 0.2);
			border-radius: 6px;
			padding: 10px;

			@media (max-width: 767px) {
				display: flex;
				z-index: 100;
				span {
					width: 100%;
					height: 3px;
					background-color: #ffffff;
				}
			}
		}
	}
}

section.home-page {
	position: relative;
	margin-top: 80px;
	.home-page-motto {
		height: 100vh;
		display: flex;
		align-items: center;
		margin-top: -80px;
	}
	.home-page-phone {
		position: absolute;
		bottom: 0;
		right: 165px;
		@media (max-width: 1366px) {
			right: 130px;
		}
		@media (max-width: 1280px) {
			right: 90px;
		}
		@media (max-width: 1024px) {
			right: 105px;
		}
		img {
			@media (max-width: 1366px) {
				width: 73%;
			}
			@media (max-width: 1024px) {
				width: 226px;
			}
			@media (max-width: 1024px) {
				width: 345px;
			}
		}
	}
	a#moveTo {
		color: #000000;
		position: absolute;
		bottom: 60px;
		right: 13px;
		opacity: 0.3;
		&:hover {
			opacity: 1;
		}
		img {
			width: 9px;
		}
	}
}

section.about {
	position: relative;
	.about-wrapper {
		width: 710px;
		height: calc(100vh - 80px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 80px;
		margin-left: 70px;
		@media (max-width: 1366px) {
			width: auto;
		}
		.about-section-top {
			height: 620px;
			@media (max-width: 1024px) {
				height: 500px;
			}
			@media (max-width: 768px) {
				width: 560px;
			}
			.about-title {
				margin-top: 80px;
				@media (max-width: 1366px) {
					margin-top: 50px;
				}
			}
			.about-description {
				margin-top: 25px;
				@media (max-width: 1366px) {
					margin-top: 15px;
				}
			}
			.about-info-sub-description {
				margin-top: 60px;
				@media (max-width: 1366px) {
					margin-top: 30px;
				}
				@media (max-width: 768px) {
					width: 100%;
					margin-top: 60px;
				}
			}
			.about-store {
				display: flex;
				margin-top: 40px;
				.about-store-banner {
					a {
						cursor: default;
						img {
							margin-right: 15px;
						}
					}
				}
			}
		}
		.about-section-bottom {
			height: 60px;
			margin-bottom: 30px;
			@media (max-width: 1024px) {
				margin-bottom: 15px;
			}
			.about-info {
				h4 {
					@media (max-width: 1024px) {
						text-align: left !important;
						color: green;
					}
					a {
						&:hover {
							border: 0;
						}
					}
				}
				h4 {
					@media (max-width: 1024px) {
						font-size: 8px;
						text-align: center;
					}
				}
			}
		}
	}
	.about-phone {
		height: calc(100vh - 80px);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-top: 80px;
		margin-left: 0px;
		@media (max-width: 1024px) {
			width: 130%;
			align-items: center;
			margin-top: 40px;
		}
		img {
			width: 80%;
			@media (max-width: 1366px) {
				width: 60%;
				margin-left: 10px;
			}
		}
	}
}

section.technology {
	position: relative;
	.technology-wrapper {
		height: calc(100vh - 80px);
		@media (max-width: 1024px) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		@media (max-width: 768px) {
			justify-content: center;
		}
		.technology-title {
			margin-top: 90px;
			@media (max-width: 1366px) {
				margin-top: 80px;
			}
			@media (max-width: 1024px) {
				margin-top: 120px;
			}
			h2 {
				text-align: center;
			}
		}
		.technology-description {
			margin-top: 25px;
			@media (max-width: 1366px) {
				margin-top: 20px;
			}
			@media (max-width: 1024px) {
				margin-bottom: 10px;
			}
			h3 {
				text-align: center;
			}
		}
		.technology-types {
			margin-top: 45px;
			@media (max-width: 1366px) {
				margin-top: 20px;
			}
			.technology-type-item {
				width: 240px;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 20px auto 30px;
				@media (max-width: 1366px) {
					width: 220px;
					margin-top: 10px;
				}
				@media (max-width: 1280px) {
					margin-top: 20px;
				}
				@media (max-width: 1024px) {
					margin: 15px auto;
				}
				@media (max-width: 768px) {
					width: 210px;
				}
				.technology-item-icon {
					margin-bottom: 20px;
					@media (max-width: 1366px) {
						margin-bottom: 10px;
					}
					img {
						width: 75%;
						padding-left: 20px;
						@media (max-width: 1366px) {
							width: 75%;
							padding-left: 20px;
							//background-color: green;
						}
					}
					@media (max-width: 768px) {
						margin-bottom: 10px;
					}
					img {
						width: 80%;
					}
				}
				.technology-item-description {
					@media (max-width: 1280px) {
						margin-top: 20px;
					}
					@media (max-width: 768px) {
						margin-bottom: 5px;
					}
					p {
						text-align: center;
					}
				}
			}
		}
	}
}

section.team {
	position: relative;
	.team-wrapper {
		height: calc(100vh - 270px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media (max-width: 1366px) {
			height: calc(100vh - 150px);
		}
		@media (max-width: 1024px) {
			height: calc(100vh - 300px);
			margin-top: 40px;
		}
		@media (max-width: 1024px) {
			margin-top: 80px;
		}
		@media (max-width: 768px) {
			height: calc(100vh - 60px);
		}
		.team-title {
			h2 {
				text-align: center;
			}
		}
		.time-description {
			margin-top: 25px;
			h3 {
				text-align: center;
			}
		}
		.team-members {
			margin-top: 95px;
			@media (max-width: 1366px) {
				margin-top: 40px;
			}
			@media (max-width: 768px) {
				margin-top: 20px;
			}
			.team-member-item {
				.team-member-photo {
					display: flex;
					justify-content: center;
					img {
						width: 210px;
						height: 210px;
						@media (max-width: 768px) {
							width: 170px;
							height: 170px;
						}
					}
				}
				.team-member-info {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 40px;
					@media (max-width: 1366px) {
						margin-top: 15px;
					}
					.team-member-name {
						h3 {
							color: $fnt-color-main;
							font-family: 'Open Sans', sans-serif;
							font-size: 24px;
							font-weight: bold;
							line-height: 1.25;
							letter-spacing: 0.6px;
							text-align: center;
						}
					}
					.team-member-position {
						span {
							color: $fnt-color-main;
							font-family: 'Open Sans', sans-serif;
							font-size: 16px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.88;
							letter-spacing: 0.6px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

section.contact {
	position: relative;
	.contact-wrapper {
		height: calc(100vh - 80px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.contact-info-wrapper {
			@media (max-width: 1024px) {
				height: auto;
				//margin-top: 50px;
			}
			.contact-title {

				h2 {
					text-align: center;
				}
			}
			.contact-description {
				margin-top: 25px;
				@media (max-width: 1366px) {
					margin-top: 15px;
				}
				h3 {
					text-align: center;
				}
			}
			.contact-item {
				display: flex;
				justify-content: center;
				margin-top: 80px;
				@media (max-width: 1366px) {
					margin-top: 30px;
				}
				@media (max-width: 1280px) {
					width: 330px;
				}
				@media (max-width: 1024px) {
					width: auto;
					margin-top: 50px;
				}
				@media (max-width: 768px) {
					justify-content: flex-start;
					margin-left: 50px;
				}
				.contact-item-title {
					text-align: right;
					margin-right: 20px;
					@media (max-width: 768px) {
						width: 70px;
						text-align: left;
					}
					span {
						font-family: 'Open Sans', sans-serif;
						font-size: 16px;
						line-height: 1.88;
						letter-spacing: 0.4px;
						color: #e2e2e2;
						@media (max-width: 1024px) {
							font-size: 15px;
						}
					}
				}
				.contact-item-info {
					display: flex;
					flex-direction: column;
					a {
						color: #9b9b9b;
						&:hover {
							color: #000000;
							text-decoration: none;
						}
					}
					@media (max-width: 1024px) {
						margin-right: 20px;
					}

					span {
						font-family: 'Open Sans', sans-serif;
						font-size: 16px;
						line-height: 1.88;
						letter-spacing: 0.4px;
						@media (max-width: 1024px) {
							font-size: 15px;
						}
					}
				}
			}
			.contact-us {
				margin-top: 50px;
				margin-bottom: 20px;
				@media (max-width: 1366px) {
					margin-top: 20px;
				}
				@media (max-width: 1024px) {
					margin-top: 30px;
					margin-bottom: 30px;
				}
				h4 {
					text-align: center;
				}
			}
		}
		.support-bg-line {
			background-color: #fbfbfb;
			border-top: 1px solid #e1d6d6;
			height: 350px;
			@media (max-width: 1366px) {
				height: 300px;
			}
			@media (max-width: 1024px) {
				height: 275px;
			}
			@media (max-width: 1024px) {
				height: 360px;
			}
			.support-wrapper {
				@media (max-width: 768px) {
					height: 360px;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
				}
				.support-title {
					display: flex;
					justify-content: center;
					margin-top: 25px;
					span {
						color: $fnt-color-secondary;
						font-family: HKGrotesk-Regular;
						font-size: 10px;
						font-weight: 600;
						line-height: 1;
						letter-spacing: 2px;
						text-transform: uppercase;
					}
				}
				.support-brand-row{
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-top: 30px;
					@media (max-width: 1366px) {
						margin-top: 0;
					}
					.support-brand {
						@media (max-width: 1366px) {
							margin-top: 15px;
						}
						img {
							opacity: 0.6;
							@media (max-width: 1366px) {
								width: 80%;
							}
							&:hover {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}
