ul.onepage-pagination {
	background-color: rgba(0, 0, 0, 0);
	top: calc(50% - 54px);
	right: 40px;
	@media (max-width: 1024px) {
		top: calc(50% - 68px);
	}
	li {

		a {
			@media (max-width: 1024px) {
				//padding: 17px;
				padding: 5px 0;
			}
			&:before {
				background-color: #ffffff;
				width: 12px;
				height: 12px;
				border: 2px solid #bebebe;
				@media (max-width: 1024px) {
					width: 23px;
					height: 23px;
					border-radius: 13px;
				}
			}
			&.active {
				&:before {
					background-color: #bebebe;
					width: 12px;
					height: 12px;
					left: 10px;
					border: none;
					margin-top: 0px;
					@media (max-width: 1024px) {
						width: 23px;
						height: 23px;
						border-radius: 13px;
						left: 17px;
					}
				}
			}
		}
	}

	&.hide {
		display: none;
	}

	li:first-child {
		display: none;
	}
}