@font-face {
	font-family: HKGrotesk-Regular;
	src: url('../fonts/HKGrotesk-Regular.otf');
	font-style: normal;
	font-weight: normal;
}


$fnt-size-title-lg: 50px;
$fnt-size-desc-lg: 24px;
$fnt-size-paragraph-lg: 20px;
$fnt-size-text-info: 10px;
$fnt-color-main: #000000;
$fnt-color-description: #9b9b9b;

.title-first {
	color: $fnt-color-main;
	font-size: 70px;
	font-family: Montserrat;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	span.fnt-bold {
		font-weight: bold;
	}
}

.title-second {
	color: $fnt-color-main;
	font-size: $fnt-size-title-lg;
	font-family: Montserrat;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.8;
	letter-spacing: 0.5px;
}

.text-description {
	color: $fnt-color-description;
	font-size: $fnt-size-desc-lg;
	font-family: OpenSans;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.42;
	letter-spacing: 0.7px;
}

.text-paragraph {
	color: $fnt-color-main;
	font-size: $fnt-size-paragraph-lg;
	font-family: OpenSans;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: 0.6px;
	text-align: justify;
}

.text-info {
	color: $fnt-color-main;
	font-size: $fnt-size-text-info;
	font-family: HKGrotesk;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.6;
	letter-spacing: 2px;
	text-align: center;
}