$bg-color-main: #ffffff;
$fnt-color-main: #000000;
$fnt-color-secondary: #9b9b9b;

$fnt-sz-title-lg: 35px;
$fnt-sz-title-md: 30px;
$fnt-sz-title-sm: 28px;
$fnt-sz-title-sx: 24px;

$fnt-sz-p-lg: 21px;
$fnt-sz-p-md: 18px;
$fnt-sz-p-sm: 16px;
$fnt-sz-p-xs: 16px;
