@import "module-right-scroll";
@import "typography";
@import "helpers.scss.";
@import "m-btn";

//SASS Variables
$bg-color-main: #ffffff;
$fnt-color-main: #000000;
$fnt-color-secondary: #9b9b9b;

$fnt-sz-title-lg: 35px;
$fnt-sz-title-md: 30px;
$fnt-sz-title-sm: 28px;
$fnt-sz-title-sx: 24px;

$fnt-sz-p-lg: 21px;
$fnt-sz-p-md: 18px;
$fnt-sz-p-sm: 16px;
$fnt-sz-p-xs: 16px;


* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1280px;
	}
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

header.header-fixed {
	color: #000;
	background-color: #ffffff;
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 7px;
	box-sizing: border-box;
	transition: all 500ms ease-in-out;
	align-items: center;
	display: flex;
	justify-content: space-between;

	@media (max-width: 767px) {
		padding: 10px 0 263px 0;
	}
	.menu-nav {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 0 80px;
		&.show {
			@media (max-width: 767px) {
				.menu {
					transform: translateX(0);
				}
			}
		}
		.header-logo {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.menu {
			ul {
				display: flex;
				list-style: none;
				font-size: 16px;
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				@media (max-width: 767px) {
					display: inline-block;
					padding: 15px;
					margin: 0;
					font-size: 25px;
				}
				.items {
					padding: 10px 0 10px 0;
					a {
						color: $fnt-color-secondary;
						font-family: HKGrotesk-SemiBold;
						font-size: 10px;
						line-height: 1;
						letter-spacing: 2px;
						text-decoration: none;
						padding: 10px 18px;
						&.active {
							color: $fnt-color-main;
							text-decoration: none;
						}
					}
				}
			}
		}
		@media (max-width: 767px) {
			.menu {
				position: fixed;
				width: 100%;
				height: 100%;
				z-index: 100;
				background-color: rgba(0, 0, 0, 0.95);
				top: 0;
				left: 0;
				transform: translateX(100%);
				flex-direction: column;
				transition: transform 0.2s ease-in-out;
			}
		}
		.toggle {
			position: absolute;
			top: 20px;
			right: 20px;
			display: none;
			flex-direction: column;
			justify-content: space-between;
			width: 50px;
			height: 50px;
			background-color: rgba(255, 255, 255, 0.2);
			border-radius: 6px;
			padding: 10px;

			@media (max-width: 767px) {
				display: flex;
				z-index: 100;
				span {
					width: 100%;
					height: 3px;
					background-color: #ffffff;
				}
			}
		}
	}
}


.l-body {
	position: relative;
	z-index: 1;

	#moveUp {
		position: fixed;
		bottom: 60px;
		right: 13px;
		opacity: 0;
		transition: opacity 0.5s linear;
		z-index: 5;
	}

	&.viewing-page-1 {
		.onepage-pagination {
			display: none;
		}
	}

	&:not(.viewing-page-1) {
		#moveUp {
			opacity: 1;
		}
	}

	.wrapper {
		height: 100% !important;
		margin: 0 auto;
		overflow: hidden;
	}

	section {
		height: 100vh;
	}
}



section.home-page {
	position: relative;
	.home-page-motto {
		height: 100vh;
		display: flex;
		align-items: center;
		margin-top: -80px;
	}
	.home-page-phone {
		position: absolute;
		bottom: 0;
		right: 165px;
		img {

		}
	}
	a#moveTo {
		position: absolute;
		bottom: 60px;
		right: 13px;
	}
}

section.about {
	position: relative;
	.about-wrapper {
		width: 710px;
		height: calc(100vh - 80px);
		.about-title {
			margin-top: 160px;
		}
		.about-description {
			margin-top: 25px;
		}
		.about-info-sub-description {
			margin-top: 60px;
		}
		.about-store {
			display: flex;
			margin-top: 40px;
			img {
				margin-right: 15px;
			}
		}
		.about-info {
			margin-top: 150px;
		}
	}
	.about-phone {
		height: calc(100vh - 80px);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-top: 60px;
		margin-left: 0px;
	}
}

section.technology {
	position: relative;
	.technology-wrapper {
		height: calc(100vh - 80px);
		.technology-title {
			margin-top: 90px;
			h2 {
				text-align: center;
			}
		}
		.technology-description {
			margin-top: 25px;
			h3 {
				text-align: center;
			}
		}
		.technology-types {
			margin-top: 40px;
			.technology-type-item {
				width: 240px;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: auto;
				.technology-item-icon {
					img {

					}
				}
				.technology-item-description {
					p {
						text-align: center;
					}
				}
			}
		}
	}
}

section.team {
	position: relative;
	.team-wrapper {
		height: calc(100vh - 80px);
		.team-title {
			h2 {
				text-align: center;
			}
		}
		.time-description {
			margin-top: 25px;
			h3 {
				text-align: center;
			}
		}
		.team-members {
			margin-top: 95px;
			.team-member-item {
				.team-member-photo {
					display: flex;
					justify-content: center;
					img {

					}
				}
				.team-member-info {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 40px;
					.team-member-name {
						h3 {
							color: $fnt-color-main;
							font-family: 'Open Sans', sans-serif;
							font-size: 24px;
							font-weight: bold;
							line-height: 1.25;
							letter-spacing: 0.6px;
							text-align: center;
						}
					}
					.team-member-position {
						span {
							color: $fnt-color-main;
							font-family: 'Open Sans', sans-serif;
							font-size: 16px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.88;
							letter-spacing: 0.6px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

section.contact {
	position: relative;
	.contact-wrapper {
		height: calc(100vh - 80px);
		.contact-title {
			h2 {
				text-align: center;
			}
		}
		.contact-description {
			margin-top: 25px;
			h3 {
				text-align: center;
			}
		}
		.contact-item {
			display: flex;
			justify-content: center;
			margin-top: 80px;
			.contact-item-title {
				text-align: right;
				margin-right: 20px;
				span {
					font-family: 'Open Sans', sans-serif;
					font-size: 16px;
					line-height: 1.88;
					letter-spacing: 0.4px;
					color: #e2e2e2;
				}
			}
			.contact-item-info {
				display: flex;
				flex-direction: column;
				span {
					font-family: 'Open Sans', sans-serif;
					font-size: 16px;
					line-height: 1.88;
					letter-spacing: 0.4px;
				}
			}

		}
		.contact-us {
			margin-top: 50px;
			margin-bottom: 60px;
			h4 {
				text-align: center;
			}
		}
	}
	.support-wrapper {
		background-color: #fbfbfb;
		border-top: 1px solid #e1d6d6;
		.support-title {
			display: flex;
			justify-content: center;
			margin-top: 25px;
			span {
				color: $fnt-color-description;
				font-family: HKGrotesk-Regular;
				font-size: 10px;
				font-weight: 600;
				line-height: 1;
				letter-spacing: 2px;
				text-transform: uppercase;
			}
		}
		.support-brand-row{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 40px;
			//margin-bottom: 30px;
			&:last-child {
				margin-top: 20px;
				margin-bottom: 70px;
			}
			.support-brand {
				img {

				}
			}
		}
	}
}

