.wrapper {
  height: 100% !important;
  margin: 0 auto;
  overflow: hidden; }

section {
  height: 100vh;
  border: 5px solid red; }

header #header-scroll {
  background: #000000;
  position: fixed;
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

header .menu ul li a.active {
  border-bottom: 1px solid blue; }
